@import url("font.css");
.group_div {
  padding-top: 80px;
}
.container {
  width: 80%;
  max-width: 1200px;
  margin: 0 auto;
}
.title {
  font-size: 40px;
  font-weight: 700;
  font-family: "sunshine_bold";
  margin-top: 10px;
  margin-bottom: 10px;
}
.group_info_div {
  width: 32%;
  display: inline-flex;
  flex-direction: column;
  box-shadow: 0 2px 6px 2px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  background-color: #fff;
  margin-top: 15px;
  margin-bottom: 15px;
  font-family: "sunshine_regular";
}
.group_info_div:nth-child(3n) {
  margin-left: 1%;
  margin-right: 1%;
}
.group_info_div:nth-child(3n + 1) {
  margin-left: 1%;
  margin-right: 0;
}
.group_info_div:nth-child(3n + 2) {
  margin-left: 0;
  margin-right: 1%;
}
.group_info_title {
  margin: 10px;
  margin-bottom: 0;
  overflow-x: auto;
}
.group_info_date {
  margin: 10px;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 16px;
  color: #858585;
}
.group_info_member_title {
  margin: 10px;
  margin-bottom: 5px;
  font-size: 18px;
}
.group_info_member_div {
  margin: 5px;
  margin-top: 0;
  margin-left: 10px;
  display: inline-flex;
  flex-direction: row;
  flex-wrap: nowrap;
  word-break: keep-all;
  align-items: center;
}
.group_info_member_img_div {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  overflow: hidden;
}
.group_info_member_name {
  margin-top: -5px;
  margin-left: 5px;
  font-size: 15px;
}
.group_info_member_invite {
  width: 44%;
  margin-left: 3%;
  margin-right: 3%;
  height: 30px;
  margin-top: 10px;
  margin-bottom: 10px;
  height: 35px;
  font-size: 17px;
  border: 1px solid #efb5b0;
  background-color: #efb5b0;
  color: #efb5b0;
  border-radius: 5px;
  transition: 0.3s;
  cursor: pointer;
  text-decoration: none;
}
.group_info_member_invite:hover {
  opacity: 0.8;
  transition: 0.3s;
}
.new_group_div {
  width: 100%;
  margin-top: 50px;
  margin-bottom: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.group_create_btn {
  margin-top: 10px;
  font-size: 25px;
  font-family: "sunshine_regular";
  border: none;
  background-color: transparent;
  color: rgb(100, 100, 100);
  border-radius: 20px;
  transition: 0.3s;
  text-decoration: none;
  transition: 0.3s;
}
.group_create_btn:hover {
  color: black;
  transition: 0.3s;
  text-decoration: underline;
}

.question_div {
  width: 100%;
  margin-top: 30px;
  margin-bottom: 30px;
  display: flex;
  flex-direction: row;
}
.arrow_div {
  width: 10%;
  justify-content: center;
  align-items: center;
  display: flex;
}
.question_info_div {
  width: 80%;
  border-radius: 10px;
  box-shadow: 0 2px 6px 2px rgba(0, 0, 0, 0.1);
  text-align: center;
}
.question_date {
  font-size: 17px;
  color: #5e5e5e;
  margin-top: 15px;
  margin-bottom: 0px;
}
.question_content {
  font-size: 25px;
  margin-top: 0px;
  margin-bottom: 15px;
  font-family: "sunshine_regular";
}
.decrease_date {
  cursor: pointer;
  animation: move_date_left 5s infinite;
}
@keyframes move_date_left {
  0% {
    transform: translateX(0px);
  }
  50% {
    transform: translateX(-15px);
  }
  100% {
    transform: translateX(0px);
  }
}
.increase_date {
  cursor: pointer;
  animation: move_date_right 5s infinite;
}
@keyframes move_date_right {
  0% {
    transform: translateX(0px);
  }
  50% {
    transform: translateX(15px);
  }
  100% {
    transform: translateX(0px);
  }
}

.answer_div {
  margin-top: 50px;
  width: 100%;
}
.answer_content_div {
  margin-top: 10px;
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
}
.answer_profile_div {
  margin: 5px;
  display: flex;
  flex-direction: row;
}
.answer_profile_img_div {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  overflow: hidden;
}
.answer_profile_name {
  display: block;
  margin-left: 10px;
  margin-top: 0px;
  margin-bottom: 0;
  font-size: 20px;
  font-family: "sunshine_regular";
}
.answer_profile_time {
  display: block;
  margin-left: 12px;
  margin-top: 0;
  font-size: 15px;
  color: #858585;
}
.answer_content_main {
  font-size: 23px;
  width: 100%;
  padding-left: 10px;
  padding-right: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
}
.answer_hr {
  height: 1px;
  background-color: rgba(118, 118, 118, 0.6);
  border: none;
  margin-top: 10px;
}

.public_age_div {
  width: 100%;
  margin-top: 30px;
  margin-bottom: 30px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.public_age_div_text {
  font-size: 20px;
  margin-right: 10px;
  margin-left: 10px;
}
.public_age_select {
  font-size: 18px;
  margin-right: 10px;
  margin-left: 10px;
  padding: 10px;
  border-radius: 5px;
  width: 150px;
  text-align: center;
  transition: 0.3s;
}
.public_age_select:focus {
  transition: 0.3s;
  color: #495057;
  background-color: #fff;
  border-color: #80bdff;
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}
.public_age_btn {
  width: 50px;
  margin-left: 20px;
  border-radius: 4px;
  border: none;
  font-size: 16px;
  color: white;
  background-color: #efb5b0;
  cursor: pointer;
  transition: 0.3s;
  font-family: "sunshine_regular";
  padding-bottom: 5px;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 13px;
}
