@import url("font.css");

.main_first_div {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.main_ment_div {
  display: flex;
  flex-direction: column;
  align-items: center;
  animation: show_ment 1s;
}
@keyframes show_ment {
  0% {
    opacity: 0;
    transform: translateY(50px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}
.main_ment {
  font-size: 35px;
  margin-top: 5px;
  margin-bottom: 5px;
  color: #1f1f1f;
  font-family: "sunshine_regular";
  overflow: hidden;
  border-right: 3px solid #1a6dff;
  white-space: nowrap;
  letter-spacing: 0.1em;
  animation: typing 2.4s steps(30, end), blink-caret 0.6s step-end 4;
}
@keyframes typing {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}
@keyframes blink-caret {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: #1a6dff;
  }
}
.main_ment_sub {
  font-size: 23px;
  margin-top: 0;
  margin-bottom: 5px;
  color: #1f1f1f;
  font-family: "sunshine_regular";
}
.login_btn {
  width: 200px;
  margin-top: 30px;
  border-radius: 4px;
  border: none;
  font-size: 17px;
  color: white;
  background-color: #1a6dff;
  cursor: pointer;
  transition: 0.3s;
  font-family: "sunshine_regular";
  padding-bottom: 5px;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 13px;
  text-decoration: none;
}
.login_btn:hover {
  transition: 0.3s;
  opacity: 0.8;
}
.bottom_arrow_div {
  display: flex;
  opacity: 0.5;
  flex-direction: column;
  align-items: center;
  width: 100%;
  position: absolute;
  bottom: 20px;
  animation: bottom_arrow 2s infinite alternate;
}
@keyframes bottom_arrow {
  0% {
    opacity: 0;
    transform: translateY(-40px);
  }
  100% {
    opacity: 0.5;
    transform: translateY(0);
  }
}
