.navbar {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  height: 80px;
  display: flex;
}
.navbar::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: -1;
  background-color: transparent;
  transition: opacity 0.3s ease-in-out;
}
.nav_logo_img {
  margin-top: 15px;
  margin-bottom: 15px;
  margin-left: 30px;
}
